<!doctype html>
<html ng-app="directoryApp">
  <head>
    <title>AngularJS For Everone</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.js"></script>
    <script src="directory.js"></script>
    <style>
        .over-thirty {
          background: red;
           olor: white;
        }
        .under-thirty{
          background: blue;
          color: white;
        }
        .hidden {
          display:none;
        }
        li.ng-enter {
          animation: fadeIn 0.2s linear;
        }
        @keyframes fadIn {
          from {
            opacity:0;
          }
          to {
            opacity:1;
          }
        }

        
    </style>
  </head>
  <body ng-controller="directoryController as dirList">
      <input type="text" ng-model="search">
      <ul ng-if="dirList.toggle">
        <li ng-repeat="item in dirList.list | filter:search"
            ng-class="item.age > 29 ? 'over-thirty' : 'under-thirty'"
            ng-include src="'person.html'">
        </li>
      </ul>
      <button ng-show="!dirList.toggle" ng-click= "dirList.toggle = true">Show Names </button>
      <button  ng-show="dirList.toggle" ng-click= "dirList.toggle = false">Hide Names </button>
      <form ng-submit="dirList.addPerson()">
        <input type="text" placeholder="Name" ng-model="dirList.name">
        <input type="text" placeholder="Age" ng-model="dirList.age">
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
      

